* {
  -webkit-box-sizing: border-box;
}
.active{
  border-bottom:2px solid #454B93 !important;
}
html {
  height: 100%;
}
.container {
  width: 100%;
}
.container .head {
  height: 90px;
}
.container .head div {
  width: 100%;
  height: 50px;
  background: #454B93;
  color: #fff;
  font-size: 18px;
  line-height: 50px;
  position: relative;
}
.container .head div p {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
.container .head div span {
  float: left;
  padding-left: 15px;
}
.container .head .nav-head {
  height: 40px;
  background: #F4F4F4;
  border-bottom: 1px solid #ccc;
}
.container .head .nav-head a {
  display: inline-block;
  width: 32.7%;
  text-align: center;
  line-height: 38px;
  color: #000;
}
.container .head .nav-head a:last-child {
  border-right: none;
}
.container {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  height: 100%;
}
.container .content {
  height: 100%;
  -webkit-flex: 1;
  overflow-y: scroll;
}
.container .content dl {
  padding: 15px;
  height: 105px;
  border-bottom: 1px solid #ccc;
  display: -webkit-flex;
}
.container .content dl dt {
  width: 90px;
  height: 70px;
  margin-right: 10px;
}
.container .content dl dt img {
  width: 100%;
}
.container .content dl dd {
  -webkit-flex: 1;
}
.container .content dl dd p label {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url(../img/1_r1_c3.gif) no-repeat;
  background-size: 100%;
}
.container .content dl dd p label.on {
  background: url(../img/1_r1_c1.gif) no-repeat;
  background-size: 100%;
}
.container .content dl dd p span {
  float: right;
}
