<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

</head>
<body>
    <div class="box">
        <h3>this is login page</h3>
        <form action="/dopost" method="post">
            <div>用户名：<input type="text" name="user" placeholder="please put your username"/></div>
            <div>用户名：<input type="password" name="pwd" placeholder="please put your password"/></div>
            <div style="color:red"><%=error%></div>
            <div><input type="submit" value="登录"/></div>
        </form>

    </div>

</body>
</html>