@import 'reset';
@import 'swiper.min';
@import 'commen';
@import 'calendar';

.detail-content{
	background:$backColor;
	width:100%;
	height:100%;
	padding-top:45px;
	overflow:scroll;
	position:relative;
	.banner{
		height:150px;
		position:relative;
		img{
			width:100%;
			height:100%;
		}
		.more-pic{
			position:absolute;
			width:80px;
			height:30px;
			background:rgba(0,0,0,0.8);
			color:#fff;
			text-align:center;
			line-height:30px;
			bottom:15px;
			right:0;
		}
	}
	.nav-detail{
		width:100%;
		height:50px;
		padding:10px;
		display:-webkit-flex;
		div{
			flex:1;
			text-align:center;
			border:1px solid $baseColor;
			line-height:28px;
			color:$baseColor;
			&:first-child{
				border-radius:5px 0 0 5px;
			}
			&:last-child{
				border-radius:0 5px 5px 0;
			}
			&.detail-active{
				color:#fff;
				background:$baseColor;
			}
		}
		background:#fff;
	}
	.nav-box{
		background:#fff;
		width:100%;
		.base-news{
			width:100%;
			float:left;
			h3{
				height:40px;
				line-height:40px;
				padding-left:15px;
				background:#fff;
				border-bottom:1px solid $lineColor;
			}
			p{
				height:40px;
				line-height:40px;
				margin-left:15px;
				border-bottom:1px solid $lineColor;
				color:#666;
				i{
					color:#666;
					margin-right:10px;
				}
				&:last-child{
					line-height:50px;
					height:50px;
				}
			}
		}
		.hotel-introduce{
			width:100%;
			float:left;
			background:#fff;
			height:170px;
			padding-left:15px;
		}
	}
	.order-hotel{
		width:100%;
		margin-top:15px;
		background:#fff;
		.hotel-date{
			position:relative;
			top:0;
		    width:100%;
			height:38px;
			display:-webkit-flex;
			line-height:38px;
			border-bottom:1px solid #ccc;
			p{
				flex:1;
				text-align:center;
				span{
					margin-right:7px;
				}
				&.recompose{
					color:$baseColor;
					span{
						padding-left:40px;
					}
					i{
						font-size:12px;
					}
				}
			}
			background:#fff;
		}
		.type-box{
			height:240px;
			overflow:hidden;
			.type-list{
				display:-webkit-flex;
				height:80px;
				line-height:80px;
				border-bottom:1px solid $lineColor;
				div{
					&:nth-child(1){
						flex:1;
						padding-left:15px;
						h3{
							line-height:20px;
							margin-top:20px;
							font-size:14px;
						}
						p{
							line-height:20px;
							
							color:#999;
						}
					}
					&:nth-child(2){
						flex:1;
						text-align:right;
						padding-right:20px;
						color:orange;
					}
					&:nth-child(3){
						width:60px;
						height:25px;
						text-align:center;
						line-height:25px;
						border:1px solid $baseColor;
						margin:25px 10px 0 0;
						color:$baseColor;
					}
					&.full-hotel{
						background:#eee;
						color:#ccc;
						border:1px solid #ccc;
					}
				}
			}
		}
		
	}
	.recommend-hotel{
		margin-top:15px;
		background:#fff;
		h3{
			line-height:30px;
			padding-left:10px;
		}
		.hotel-list{
			h3{
				line-height:20px;
			}
		}
		.list-box{
			height:300px;
			overflow:hidden;
		}
		.special-box{
			height:300px;
			overflow:hidden;
		}
	}
	.display-more{
		width:100%;
		text-align:center;
		height:30px;
		line-height:30px;
		color:#999;
		background:#fff;
	}
}
.all-img{
	position:absolute;
	width:100%;
	height:150px;
	top:50%;
	transform:translate3d(0,-50%,0);
	left:0;
	z-index:33;
	.more-banner{
		height:100%;
		img{
			width:100%;
			height:100%;
		}
		li{
			display:-webkit-flex;
			-webkit-align-items:center; 
		}
	}
}
.mask{
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	left:0;
	top:0;
	z-index:5;
}
