<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<input type="text" id="user"/>
<input type="text" id="pwd"/>
<button id="btn">请求</button>
<script src="./javascripts/jquery-2.1.1.js"></script>
</body>
<script>
    $("#btn").on("click",function(){
        var name=$("#user").val();
        var pwd=$("#pwd").val();
        console.log(name+" "+pwd);
        $.ajax({
            url:'http://localhost:6060/userlogin',
            type:'post',
            data:{name:name,pwd:pwd},
            success:function(data){
                if(data.code==1){
                    alert("login fail");
                }else{
                    alert("login success!");
                }
            }
        })
    })
</script>
</html>